datasets/

encDecModel.pth
EncDecModel.pth

# Ignore pycache
**/__pycache__/

# Ignore Visual Studio Code files
.vscode/

# ignore logs
logs/

# ignore models
models/

# ignore archived models
archive/